.elements {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> parent of 1a95834 (June 12)
=======
>>>>>>> parent of 1a95834 (June 12)
  width: 880px;
>>>>>>> parent of 1a95834 (June 12)
  column-gap: 17px;
  row-gap: 20px;
  margin: auto;
  font-family: Inter;
  font-weight: 900;
  font-size: 16px;
  background-color: black;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 100px;
}
.elements__card {
  display: flex;
  gap: 0px;
  flex-direction: column;
  width: 282px;
  height: 361px;
  position: relative;
}
.elements__card-delete {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 2;
}
.elements__card-delete:hover svg path {
  fill: #e74c3c;
}
.elements__card-image {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.elements__card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #fff;
  border-radius: 0 0 10px 10px;
}
.elements__card-title {
  font-size: 16px;
  font-weight: 700;
  color: #222;
  margin: 0;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.elements__card-like {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #bcbcbc;
  transition: fill 0.2s;
}
.elements__card-like:hover {
  fill: #ff0000;
}
.elements__card-like:active {
  fill: black;
}
@media screen and (max-width: 768px) {
  .elements {
    width: 100vw;
    font-size: 2vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .elements__card {
    justify-self: right;
  }
  .elements__card:nth-child(2n) {
    justify-self: left;
  }
}
@media screen and (max-width: 590px) {
  .elements {
    display: flex;
    flex-direction: column;
    width: 282px;
    gap: 20px;
    font-size: 16px;
    margin: auto;
  }
  .elements__card {
    width: 282px;
    height: 100%;
  }
  .elements__card-info {
    height: 79px;
  }
}
