.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.main {
  flex: 1;
}

.footer {
  width: 100%;
  max-width: 880px; 
  margin: auto auto 0 auto;
  height: 16px;
  padding-bottom: 80px;  
}

.footer__copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  color: #545454;
}

@media screen and (max-width: 880px) {
  .footer {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
    width: 100vw;
    height: 16px;
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    width: 320px;
    height: 16px;
    margin: auto;
  }
  .footer__copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 50px;
    color: #545454;
  }
}
