.popup,
.popup__add {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  justify-content: center;
  align-items: center;
}
.popup.show,
.popup__add.show {
  display: flex;
}

.popup__image {
  display: none;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  justify-content: center;
  align-items: center;
}
.popup__image.show {
  display: flex;
}
.popup__image-container {
  display: inline-block;
  position: relative;
}
.popup__image-img {
  max-height: 540px;
  width: auto;
  max-width: 90vw;
  border-radius: 10px;
  box-shadow: 0 0 20px #0008;
}

.popup__form-container {
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  padding: 36px;
}

.popup__form {
  margin-top: 54px;
}
.popup__form-title {
  font-family: "inter", "arial", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin-left: 36px;
}
.popup__form-fields {
  list-style-type: none;
}

.popup__form-input {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  width: 358px;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 29.74px;
  padding-bottom: 13.72px;
  color: #000;
}
.popup__form-input::placeholder {
  color: #c4c4c4;
}

.popup__send {
  width: 358px;
  height: 50.15px;
  margin-left: auto;
  margin-right: auto;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: black;
  color: white;
  margin-top: calc(48px - 29.74px);
  cursor: pointer;
}
.popup__send:hover {
  opacity: 0.8;
}
.popup__close {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-image: url(../images/close.png);
  background-color: transparent;
  border: none;
  position: relative;
  left: 550px;
  top: -225px;
  cursor: pointer;
}
.popup__close:hover {
  opacity: 0.6;
}

.popup__close-image {
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-image: url(../images/close.png);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .popup,
  .popup__add {
    width: 282px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .popup__form-container {
    width: 282px;
    height: 322px;
    padding: 25px 0px 25px 22px;
  }

  .popup__close {
    position: fixed;
    top: 140px;
    left: 250px;
    width: 26px;
    height: 26px;
    z-index: 4;
  }
  .popup__send {
    width: 238px;
    margin-left: auto;
    margin-right: auto;
  }
  .popup__form-fields {
    padding-inline-start: 0px;
  }
  .popup__form-input {
    width: 238px;
  }
}

@media screen and (max-width: 600px) {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  .popup__image-img {
    top: 100px;
    max-height: 300px;
    max-width: 98vw;
  }
.popup__close-add{ 
  top:90px;

}
.popup__close{ 
  top:90px;

}
=======
=======
>>>>>>> parent of 1a95834 (June 12)
=======
>>>>>>> parent of 1a95834 (June 12)
  .popup__close-image {
    right: -30px;
    width: 30px;
    height: 30px;
  }
  .popup__image-img {
    max-height: 300px;
    max-width: 98vw;
  }
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of 1a95834 (June 12)
=======
>>>>>>> parent of 1a95834 (June 12)
=======
>>>>>>> parent of 1a95834 (June 12)
}
